<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.protocol.dao.ProtocolDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        protocol.id,
        protocol.name,
        protocol.version,
        protocol.jar_path,
        protocol.jar_name,
        protocol.description,
        protocol.create_time,
        protocol.update_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.protocol.domain.vo.ProtocolVO">
        SELECT <include refid="base_columns"/>
        FROM protocol
        <where>
            <if test="queryForm.name != null and queryForm.name != ''">
                AND INSTR(protocol.name, #{queryForm.name})
            </if>
            <if test="queryForm.version != null and queryForm.version != ''">
                AND INSTR(protocol.version, #{queryForm.version})
            </if>
            <if test="queryForm.jarPath != null and queryForm.jarPath != ''">
                AND INSTR(protocol.jar_path, #{queryForm.jarPath})
            </if>
            <if test="queryForm.description != null and queryForm.description != ''">
                AND INSTR(protocol.description, #{queryForm.description})
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY protocol.id DESC
        </if>
    </select>
</mapper>
